.parallax-item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: sans-serif;
    width: 100%;
    min-height: 50vh;
    border: 2px dashed red;
}

.parallax-item h2 {
    font-size: 3rem;
    text-transform: uppercase;
    background-color: whitesmoke;
    padding: 1rem;
    border-radius: 1rem;
}

.parallax-item:nth-of-type(1) {
    background: url("https://images.unsplash.com/photo-1663305411753-4c305e177ff3?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NjM5NDA4ODE&ixlib=rb-1.2.1&q=80");
    background-size: cover;
    background-attachment: fixed;
    /* Parallax Effect for DIV 3 */
    min-height: calc(100vh - 75px);
}


.parallax-item:nth-of-type(2) {
    background: url("https://images.unsplash.com/photo-1663183539627-adbe2c8ef43d?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NjM5Mzk5ODc&ixlib=rb-1.2.1&q=80");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* Parallax Effect for DIV 3 */
}

